<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Event</h1>
    <form action="event_add">
        <label for="a1">Enter the event id:</label>
        <input type="text" id="a1" name="a1" placeholder="eg.2401" required>
        <br>
        <label for="a2">Enter the event name</label>
        <input type="text" id="a2" name="a2" required>
        <br>
        <button type="submit">Add Event</button>
    </form>
</body>
</html>