{% load static %}

<!DOCTYPE html>
<html>
<head>
 <title>Payment Page</title>
 <style>
 body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #f5f5f5;
 }
 </style>
</head>
<body>
 <div>
 <h1>Payment Page</h1>
 <img  height="250px"  src="{% static 'img/qr.png' %}" alt="QR Code for Payment">
 <p>Please scan the QR code to make a payment.

    <form action="/submit-payment" method="post">
        <label for="payment-image">Payment Image:</label><br>
        <input type="image" id="payment-image" name="payment-image" src="your-image-source.png" alt="Payment">
        <input type="submit" value="Pay" class="button">
      </form>
 </p>
 </div>


</body>
</html>



