<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
    <h1>Students with not approval login</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll</th>
                <th>College Name</th>
                <th>Actions</th> <!-- New column for buttons -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.roll }}</td>
                <td>{{ student.college_name }}</td>
                <td><img src="../static/{{ student.id_card }}" width="200px" height="auto"></td>
                <td><a href="l_app/{{student.id}}">Approve</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
